body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(90deg, rgba(1,1,1) 0%, #FFFFFF 100%);
}



.Wrapper {
    display: flex;
    flex-direction: row;
}

.Sidebar {
    position: fixed;
    
    
    background: repeating-linear-gradient(
        -55deg,
        #222,
      #222 10px,
        #333 10px,
       #333 20px
      );


    width: 20vw;

    text-align: start;
    margin-top: 0vw;
    
    border-color: rgb(255, 255, 255);
    border-style: dashed;
}

.Sidebar a {
    margin: 2vw;  /* Adjust margin to the left for <a> tags */
    border-color: rgb(255, 255, 255);
    color: black;
    font-size: 150%;
}

.Sidebar li {
    margin-left: 4vw;
}


.MainContent {
    flex-grow: 8;
    
}

.Header {
    margin-left: 72.5vw;
    width: 20vw;

    margin-top: 1vw; /* Removed the space between 1 and vw */

    text-align: center;
    align-items: right;

    border-color: rgb(4, 9, 83);
    border-style: dashed    ;
}

.images .overlay{
    position: absolute;
    top: 20vw;

    padding-bottom: 1%;
    padding-top: 1%;
    background: rgba(218, 216, 216, 0.5); 
    width: 70vw;

    text-align: center;
    justify-content: center;
}

.imageSlider {

    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */ 
    scrollbar-width: none; /* Hide scrollbar for Firefox */; 
    display: flex; 
    overflow-y: auto; 
    scroll-snap-type: mandatory; 
    scroll-behavior: smooth;

}
div::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}

.overlay

.imageSlider {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}




.Content, .Content2, .Content3 {
    width: 70vw;

    
    background-color: cadetblue;
    margin-top: 1vw; /* Removed the space between 1 and vw */
    margin-left: 22.5vw;
    
    color:#000000;

    text-align: center;
    align-items: center;

    border-color: rgb(44, 43, 43);
    border-style: dashed;
}


.ContentMid12, .ContentMid23, .ContentMid34, .ContentMid45{
    margin-left: 22.5vw;
    width: 70vw;
    text-align: center;
    align-items: center;
}


.home:hover{
    text-decoration-line: underline;
    cursor: pointer;
    color:white;
}

.UITutorial:hover{
    text-decoration-line: underline;
    cursor: pointer;
    color:rgb(255, 255, 255);
}

.WritingTutorial:hover{
    text-decoration-line: underline;
    cursor: pointer;
    color:rgb(255, 255, 255);
    
}

.CoolFeatures:hover{
    text-decoration-line: underline;
    cursor: pointer;
    color:rgb(255, 255, 255);
}

.Header:hover{
    box-shadow: 0px 0px 20px 5px rgba(73, 72, 72, 0.6);
}


.Content:hover, .ContentMid12:hover, .Content2:hover, .ContentMid23:hover, .Content3:hover, .ContentMid34:hover, .ContentMid45:hover, .finished:hover{
    animation-name: ContentHoverA;
    animation-duration: 2s;
    animation-iteration-count: 1;
    box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.6);
}

.Content3 a:hover{
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #fff, 0 0 70px #ffffff; color: white;
}



.Sidebar:hover {
    animation-name: SidebarHoverA;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.6);

}

@keyframes SidebarHoverA {
    0% {
        background: repeating-linear-gradient(
            -55deg,
            #222 0px,
            #222 10px,
            #333 10px,
            #333 20px
        );
        background-position: 0px 0px;
    }

    100% {
        background: repeating-linear-gradient(
            -55deg,
            #222 0px,
            #222 10px,
            #333 10px,
            #333 20px
        );
        background-position: 5px 5px;
    }
}


@keyframes ContentHoverA {
    0%{
        color:#ffffff;
    }
    100%{
        color:black;
    }
}